language: bash

# for secret experimental features ;)
sudo: 9000

install:
  - git clone https://github.com/docker-library/official-images.git ~/official-images

before_script:
  - env | sort
  - image='rabbitmq'

script:
  - docker build -t "$image" .
  - ~/official-images/test/run.sh "$image"
  - docker build -t "$image:management" management
  - ~/official-images/test/run.sh "$image:management"

after_script:
  - docker images

# vim:set et ts=2 sw=2:
